@model IEnumerable<EmpApp.Models.LeaveViewModel>


 <div class="panel-body">  
        <div class="btn-group">  
            <a asp-action="Create"  class="btn btn-primary">  
                <i class="glyphicon glyphicon-plus"></i>  Apply Leave
            </a>  
        </div>  

<br/> <br/>


 <table class="table table-bordered table-striped table-condensed">  
            <thead>  
                <tr> 
                    <th>Emp Name</th>
                    <th>StartDate</th>                      
                    <th>EndDate</th>
                    <th>Approval Status</th>  
                </tr>  
            </thead>  
            <tbody>  
                @foreach (var item in Model)  
                {  
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApprovalStatus)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LeaveId" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.LeaveId" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete ?');">
                            <i class="glyphicon glyphicon-trash"></i>  Delete
                        </a>
                    </td>
                </tr>  
                }  
            </tbody>  
        </table>  